<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>02 theme switcher</title>
    <link rel="stylesheet" href="css/styles.scss">
</head>

<body>
    <header>
        <h1>02 theme switcher</h1>
    </header>
    <main>
        <div class="main__container">
            <div class="box__element box__element--base">Base</div>
            <div class="box__element box__element--important">Important</div>
            <div class="box__element box__element--warning">Warning</div>
            <div class="box__element--primary-font">Principal font Example</div>
            <div class="box__element--secondary-font">Secondary font Example</div>
            <div class="box__element box__element--shadow">Box with shadow Example</div>
        </div>
    </main>
</body>

</html>