<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lemoncode</title>
    <link type="text/css" rel="stylesheet" href="css/styles.scss" />
</head>

<body>
    <header>
        <div class="header__toolbar">
            <input type="text" class="header__search-input" placeholder="Buscar" />
            <div class="header__user">Omar Lorenzo Montelongo</div>
        </div>
        <div class="header__title">Welcome Lemoncoders!</div>
    </header>

    <div class="container">
        <nav class="menu">
            <div class="menu__container">
                <div class="menu__title">Frameworks</div>
                <ul class="menu__list">
                    <li class="menu__item">React</li>
                    <li class="menu__item">Svelte</li>
                    <li class="menu__item">Vue</li>
                    <li class="menu__item">Angular</li>
                </ul>
            </div>
        </nav>

        <main class="team">
            <div class="team__list">
                <div class="team__card">
                    <img src="https://avatars.githubusercontent.com/u/14540103?s=96&v=4" alt="Antonio Contreras"
                        class="team__avatar" />
                    <div class="team__member-name">Antonio Contreras</div>
                </div>

                <div class="team__card">
                    <img src="https://avatars.githubusercontent.com/u/1457912?s=96&v=4" alt="Braulio Díez"
                        class="team__avatar" />
                    <div class="team__member-name">Braulio Díez</div>
                </div>

                <div class="team__card">
                    <img src="https://avatars.githubusercontent.com/u/13205689?s=96&v=4" alt="Santiago Camargo"
                        class="team__avatar" />
                    <div class="team__member-name">Santiago Camargo</div>
                </div>

                <div class="team__card">
                    <img src="https://avatars.githubusercontent.com/u/43171355?s=96&v=4"
                        alt="Francisco Javier de Jesús Mazzoni" class="team__avatar" />
                    <div class="team__member-name">Francisco Javier de Jesús Mazzoni</div>
                </div>

                <div class="team__card">
                    <img src="https://avatars.githubusercontent.com/u/24454225?s=96&v=4" alt="Javier Calzado"
                        class="team__avatar" />
                    <div class="team__member-name">Javier Calzado</div>
                </div>

                <div class="team__card">
                    <img src="https://avatars.githubusercontent.com/u/7754966?s=96&v=4" alt="Jaime Salas"
                        class="team__avatar" />
                    <div class="team__member-name">Jaime Salas</div>
                </div>

                <div class="team__card">
                    <img src="https://avatars.githubusercontent.com/u/26490961?s=96&v=4" alt="Jose Manuel"
                        class="team__avatar" />
                    <div class="team__member-name">Jose Manuel</div>
                </div>

                <div class="team__card">
                    <img src="https://avatars.githubusercontent.com/u/58438522?s=96&v=4" alt="Juan Pablo Martínez"
                        class="team__avatar" />
                    <div class="team__member-name">Juan Pablo Martínez</div>
                </div>

                <div class="team__card">
                    <img src="https://avatars.githubusercontent.com/u/4374977?s=96&v=4" alt="Daniel Sánchez"
                        class="team__avatar" />
                    <div class="team__member-name">Daniel Sánchez</div>
                </div>

                <div class="team__card">
                    <img src="https://avatars.githubusercontent.com/u/43609530?s=96&v=4" alt="Víctor Borrego"
                        class="team__avatar" />
                    <div class="team__member-name">Víctor Borrego</div>
                </div>
            </div>
        </main>
    </div>

    <footer class="footer">Master Lemoncode</footer>
</body>

</html>