<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>01 palette generator</title>
    <link rel="stylesheet" href="css/styles.scss">
</head>

<body>
    <header>
        <h1>01 palette generator</h1>
    </header>
    <main>
        <div class="container container--color-palette">
            <div class="container__box container__box--darken-4">
                <span class="container__box-text">Darken 4</span>
            </div>
            <div class="container__box container__box--darken-3">
                <span class="container__box-text">Darken 3</span>
            </div>
            <div class="container__box container__box--darken-2">
                <span class="container__box-text">Darken 2</span>
            </div>
            <div class="container__box container__box--darken-1">
                <span class="container__box-text">Darken 1</span>
            </div>
            <div class="container__box container__box--base">
                <span class="container__box-text">Base color</span>
            </div>
            <div class="container__box container__box--lighten-1">
                <span class="container__box-text">Lighten 1</span>
            </div>
            <div class="container__box container__box--lighten-2">
                <span class="container__box-text">Lighten 2</span>
            </div>
            <div class="container__box container__box--lighten-3">
                <span class="container__box-text">Lighten 3</span>
            </div>
            <div class="container__box container__box--lighten-4">
                <span class="container__box-text">Lighten 4</span>
            </div>
        </div>
        <div class="container container--color-palette">
            <div class="container__box container__box--darken-4">
                <span class="container__box-text">Darken 4</span>
            </div>
            <div class="container__box container__box--darken-3">
                <span class="container__box-text">Darken 3</span>
            </div>
            <div class="container__box container__box--darken-2">
                <span class="container__box-text">Darken 2</span>
            </div>
            <div class="container__box container__box--darken-1">
                <span class="container__box-text">Darken 1</span>
            </div>
            <div class="container__box container__box--base">
                <span class="container__box-text">Base color</span>
            </div>
            <div class="container__box container__box--lighten-1">
                <span class="container__box-text">Lighten 1</span>
            </div>
            <div class="container__box container__box--lighten-2">
                <span class="container__box-text">Lighten 2</span>
            </div>
            <div class="container__box container__box--lighten-3">
                <span class="container__box-text">Lighten 3</span>
            </div>
            <div class="container__box container__box--lighten-4">
                <span class="container__box-text">Lighten 4</span>
            </div>
        </div>
        <div class="container container--color-palette">
            <div class="container__box container__box--darken-4">
                <span class="container__box-text">Darken 4</span>
            </div>
            <div class="container__box container__box--darken-3">
                <span class="container__box-text">Darken 3</span>
            </div>
            <div class="container__box container__box--darken-2">
                <span class="container__box-text">Darken 2</span>
            </div>
            <div class="container__box container__box--darken-1">
                <span class="container__box-text">Darken 1</span>
            </div>
            <div class="container__box container__box--base">
                <span class="container__box-text">Base color</span>
            </div>
            <div class="container__box container__box--lighten-1">
                <span class="container__box-text">Lighten 1</span>
            </div>
            <div class="container__box container__box--lighten-2">
                <span class="container__box-text">Lighten 2</span>
            </div>
            <div class="container__box container__box--lighten-3">
                <span class="container__box-text">Lighten 3</span>
            </div>
            <div class="container__box container__box--lighten-4">
                <span class="container__box-text">Lighten 4</span>
            </div>
        </div>
    </main>
</body>

</html>