$base-color: #0000ff;
$important-color: #00008a;
$warning-color: #00ffff;
$primary-color: #131313;
$font-family: 'Comic Sans MS', sans-serif;
$primary-font-family: 'Times New Romas, sans-serif';
$secondary-font-family: 'Arial', sans-serif;
$border-radius: 8px;
$box-shadow: 30px 28px 26px 0px rgba(0, 0, 0, 0.75);