$base-color: #ff0000;
$important-color: #b81414;
$warning-color: #f4b7aa;
$primary-color: #131313;
$font-family: 'Comic Sans MS', sans-serif;
$primary-font-family: 'Arial, sans-serif';
$secondary-font-family: 'Mono', sans-serif;
$border-radius: 2px;
$box-shadow: -30px 28px 26px 0px rgba(0, 0, 0, 0.75);